{% extends '_base.html' %}

{% block title %}
    سبد خرید
{% endblock %}
{% load humanize %}
{% block body %}
		<main class="main">
			<div class="container">
				<ul class="checkout-progress-bar d-flex justify-content-center flex-wrap">
					<li class="active">
						<a href="{% url 'cart:cart_detail' %}">سبد خرید</a>
					</li>
				</ul>

				{% if request.user.is_authenticated %}
				<div class="row">
					<div class="col-lg-8 ">
						<div class="cart-table-container table-responsive">
								<table class="table table-cart"> 
									<thead>
										<tr>
											<th class="price-col">#</th>
											<th class="thumbnail-col">تصویر محصول</th>
											<th class="product-col">نام محصول</th>
											<th class="price-col">قیمت</th>
											<th class="price-col">سایز</th>
											<th class="price-col">رنگ</th>
											<th class="price-col">تعداد</th>
											<th class="text-right">حذف</th>
										</tr>
									</thead>
									<tbody>
										{% for c in cart %}
											<tr class="product-row">
												<td>{{forloop.counter}}</td>
												<td>
													<figure class="product-image-container">
														<a href="{% url 'home:detail' c.variant.product_variant.slug c.variant.product_variant.id %}" class="product-image">
															<img src="{{c.variant.product_variant.image.url}}" style="max-width:80px;min-width:80px;max-height: 80px;min-height:80px;" alt="{{c.product.name}}">
														</a>
													</figure>
												</td>
												<td class="product-col">
													<h5 class="product-title">
														<a class="myfont" href="{% url 'home:detail' c.variant.product_variant.slug c.variant.product_variant.id %}">{{c.variant.name}}</a>
													</h5>
												</td>
												<td>										
													{{c.variant.total_price|floatformat:1|intcomma}}
												</td>
												<td>{{c.variant.size_variant.name}}</td>
												<td>{{c.variant.color_variant.name}}</td>
												<td>
													<i onclick="add('{{c.variant.id}}')" class='fa fa-plus'></i>
													
													<input type='number' id='number{{c.variant.id}}' min=1 value="{{c.quantity}}" max="{{ c.variant.amount}}">
													
													<i class='fa fa-minus'></i>
											
												</td>

												<td>
												<a href="{% url 'cart:newremove' c.variant.id %}" class="btn btn-sm text-align-center delete-item icon-cancel"
													style="display:flex;align-items:center;justify-content:center;font-size:15px"
													title="Remove Product"></a>
												</td>
												{% empty %}
													<h6 class="myfont text-center pl-5 ml-5 my-5 py-5">سبد خرید شما خالی است</h6>
											</tr>
										{%endfor%}
									</tbody>
								</table>
				
						</div><!-- End .cart-table-container -->
					</div><!-- End .col-lg-8 -->
					{% if cart %}
						<div class="col-lg-4">
							<div class="cart-summary">
								<h3  class="myfont text-right">جمع سبد خرید</h3>

								<form action="{% url 'order:order_information' %}">
									<table class="table table-totals">

											<tfoot>
												<tr>
													<td>جمع</td>
													<td id="total">{{total|floatformat:1|intcomma}}</td>
												</tr>
												<tr>
													<td>تعداد</td>
													<td id="quantity"></td> 
												</tr>
												<tr>
													<td>تخفیف</td>
													<td id="discount"></td> 
												</tr>
											
											</tfoot>
									</table>

									<div class="checkout-methods">
										<button type="submit" class="btn btn-block btn-dark myfont">سفارش
											<i class="fa fa-arrow-right"></i>
										</button>
									</div>
								</form>
							</div><!-- End .cart-summary -->
						</div><!-- End .col-lg-4 -->
					{% endif %}
				</div><!-- End .row -->
				{% endif %}
				
			</div><!-- End .container -->

			<div class="mb-6"></div><!-- margin -->
		</main><!-- End .main -->
		
		<script>
			function show(){
				$.ajax({
					url: "{% url 'cart:cart_show' %}",
					type: 'GET',
					success:function(response){
							$('#price').html(response.price);
							$('#quantity').html(response.quantity);
							$('#discount').html(response.discount);
							$('#total').html(response.total);
					},
				});
			};
			show();
			function add(id){
				const num = $('#number' + id).val();
				const num2 = $('#number' + id).attr('max');
			
				quantity = 0;
				quantity += parseInt(num) + 1;
				if(quantity <= num2){
					$('#number' + id).val(quantity);
					$.ajax({
						url: "{% url 'cart:new_add_single' %}",
						type: 'GET',
						data : {variant_id:id,quantity:quantity},
						dataType : 'json',
						success:function(data){
							show();
						},
					});
				};
			};
		</script>
{% endblock %}
