{% extends '_base.html' %}
{% load static %}
{% block title %}
    Contact
{% endblock %}

{% block body %}
		<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{% url 'home:home' %}"><i class="icon-home"></i></a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							ارتباط با ما
						</li>
					</ol>
				</div>
			</nav>

			<div id="map"></div>

			<div class="container contact-us-container">
				<div class="contact-info">
					<div class="row">
						<div class="col-12">
							<h2 class="ls-n-25 m-b-1 myfont text-right" >
								ارتباط با ما
							</h2>

							<p class="myfont text-right mb-3">
								.این فروشگاه دارای ویژگی‌های مدیریتی بسیار قدرتمندی است که به مشتری کمک می‌کند تا در عرض چند دقیقه محصول خود را بدون هیچ گونه مهارت خاصی در این وبسایت سفارش دهد
							</p>
						</div>

						<div class="col-sm-6 col-lg-3">
							<div class="feature-box text-center">
								<i class="fa fa-map-marker"></i>
								<div class="feature-box-content">
									<h3 class="myfont">آدرس</h3>
									<h5 class="myfont">قزوین شهر صنعتی البرز </h5>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="feature-box text-center">
								<i class="fa fa-mobile-alt"></i>
								<div class="feature-box-content ">
									<h3 class="myfont">شماره تلفن</h3>
									<h5>+98 (937) 159-5811</h5>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="feature-box text-center">
								<i class="far fa-envelope"></i>
								<div class="feature-box-content">
									<h3 class="myfont">آدرس ایمیل</h3>
									<h5>progialo11@gmail.com</h5>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="feature-box text-center">
								<i class="far fa-calendar-alt"></i>
								<div class="feature-box-content">
									<h3 class="myfont">روزهای کاری</h3>
									<h5 class="myfont">جمعه - شنبه </h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<h2 class="mt-6 mb-2 myfont text-center">ارسال پیام</h2>

						<form class="mb-0" action="{% url 'home:contact' %}" method="post"> {% csrf_token %}
							<div class="form-group">
								<label class="mb-1 myfont float-right" for="name">نام
									<span class="required">*</span></label>
								<input type="text" class="form-control" id="name" name="name" required="">
							</div>

							<div class="form-group">
								<label class="mb-1 myfont float-right" for="subject">موضوع
									<span class="required">*</span></label>
								<input type="text" class="form-control" id="subject" name="subject" required="">
							</div>

							<div class="form-group">
								<label class="mb-1 myfont float-right" for="email">ایمیل
									<span class="required">*</span></label>
								<input type="email" class="form-control" id="email" name="email" required="">
							</div>

							<div class="form-group">
								<label class="mb-1 myfont float-right" for="message">متن پیام
									<span class="required">*</span></label>
								<textarea cols="30" rows="1" class="form-control" name="message" required=""></textarea>
							</div>

							<div class="form-footer mb-0">
								<button type="submit" class="btn float-right btn-dark font-weight-normal myfont">
									ارسال پیام
								</button>
							</div>
						</form>
					</div>

					<div class="col-lg-6">
						<h2 class="mt-6 mb-1 myfont text-center">سوالات متداول</h2>
						<div id="accordion">
							<div class="card card-accordion text-right myfont">
								<a class="card-header myfont" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									چطور میتوانم سفارشم را پیگیری کنم ؟
								</a>

								<div id="collapseOne" class="collapse show" data-parent="#accordion">
									<p>وارد سایت شوید. روی گزینه سفارش های من کلیک کنید. در این قسمت با کلیک روی جزییات میتوانید سفارش خود را ببینید. میتوانید در این قسمت روند آماده سازی و مراحل ارسال سفارش خود را پیگیری کنید.</p>
								</div>
							</div>

							<div class="card card-accordion">
								<a class="card-header text-right collapsed myfont" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
									چطور میتوانم امتیاز‌ بگیریم؟
								</a>

								<div id="collapseTwo" class="collapse text-right" data-parent="#accordion">
									<p>بعد از ساخت حساب کاربری در وبسایت می توانید با یکی از روش های زیر امتیاز کسب کنید:
										ثبت نظر
										خرید کالا
								</div>
							</div>

							<div class="card card-accordion">
								<a class="card-header text-right collapsed myfont" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
									چطور میتوانم بدون برقراری تماس، درخواست مرجوعی کالای خریداری شده را اعلام کنم؟
								</a>

								<div id="collapseThree" class="collapse text-right" data-parent="#accordion">
									<p>شما میتواند وارد پروفایل خود شوید و از قسمت سفارشات تحویل شده ، فرم درخواست را تکمیل کنید.</p>
								</div>
							</div>

							<div class="card card-accordion">
								<a class="card-header collapsed text-right  myfont" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
									چطور درخواست خود را جهت بازگرداندن کالا (مرجوعی کالا) به شما اطلاع دهم؟
								</a>

								<div id="collapseFour" class="collapse  text-right" data-parent="#accordion">
									<p>شما میتوانید از طریق فرم درخواست پیام در صفحه تماس با ما و تلفن درخواست خود را ثبت نمایید.</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="mb-8"></div>
		</main>
{% endblock %}
