{% extends '_base.html' %}

{% load static %}
{% load base_tags %}
{% load humanize %}
{% block title %}
    صفحه محصولات
{% endblock %}

{% block style %}
    <style>
        /* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

    .range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
    }

    .range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 200px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
    }

    .range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    }

    .range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
    }

    .range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
    }

    .range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
    }

    .range-slider input[type=range]::-moz-focus-outer {
    border: 0;
    }

    .rangeValue {
    width: 30px;
    }

    .output {
    position: absolute;
    border:1px solid #999;
    width: 40px;
    height: 30px;
    text-align: center;
    color: #999;
    border-radius: 4px;
    display: inline-block;
    font: bold 15px/30px Helvetica, Arial;
    bottom: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    }

    .output.outputTwo {
    left: 100%;
    }


    input[type=range] {
    -webkit-appearance: none;
    background: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border: none;
    border-radius: 3px;
    background: transparent;
    }

    input[type=range]::-ms-track {
    height: 5px;
    background: transparent;
    border: none;
    border-radius: 3px;
    }

    input[type=range]::-moz-range-track {
    height: 5px;
    background: transparent;
    border: none;
    border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #555;
    margin-top: -5px;
    position: relative;
    z-index: 10000;
    }

    input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #555;
    margin-top: -5px;
    position: relative;
    z-index: 10000;
    }

    input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #555;
    margin-top: -5px;
    position: relative;
    z-index: 10000;
    }

    input[type=range]:focus {
    outline: none;
    }

    .full-range,
    .incl-range {
    width: 100%;
    height: 5px;
    left: 0;
    top: 21px;
    position: absolute;
    background: #DDD;
    }

    .incl-range {
    background: gold;
    }
    </style>
{% endblock %}
{% block body %}

        <main class="main">
            <div class="category-banner-container bg-gray">
                <div class="category-banner banner text-uppercase" style="background: no-repeat 60%/cover url('{% static "assets/images/banners/banner-top.jpg" %}');">
                    <div class="container position-relative">
                        <div class="row">
                            <div class="pl-lg-5 pb-5 pb-md-0 col-md-5 col-xl-4 col-lg-4 offset-1">
                                <h3>وسایل برقی را<br>از ما خرید کنید</h3>
                            </div>
                            <div class="pl-lg-3 col-md-4 offset-md-0 offset-1 pt-3">
                                <div class="coupon-sale-content">
                                    <h4 class="m-b-1 coupon-sale-text bg-white text-transform-none">دارای کد تخفیف 
                                    </h4>
                                    <h5 class="mb-2 coupon-sale-text d-block ls-10 p-0"><i class="ls-0"></i><b class="text-dark">%50</b></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">خانه</a></li>
                    </ol>
                </nav>

                <div class="row">
                    <div class="col-lg-9 main-content">
                 
                        <div class="row">
                            {% for product in products %}
                                <div class="col-6 col-sm-4 col-md-3">
                                    <div class="product-default">
                                        <figure>
                                            <a href="{{product.get_absolute_url}}">
                                                <img src="{{product.image.url}}" style="max-width:280px;max-height:280px;min-hieght:280px;  min-width:280px;" alt="{{product.name}}">
                                            </a>

                                            {% if product.discount %}
                                                <div class="label-group">
                                                    <div class="product-label label-sale">
                                                            %{{product.discount}}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </figure>

                                        <div class="product-details">
                                            <div class="category-wrap">   
                                                {% for cat in product.category.active %} 
                                     
                                                    <div class="category-list">
                                                        دسته بندی 
                                                        <a href="{{category.get_absolute_url}}" >
                                                            {{cat.name}},
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <h3 class="product-title"> <a href="{{product.get_absolute_url}}">{{product.name}}</a> </h3>

                                            <div class="ratings-container comment-rating" style='color:gold;'>
                                                {% if product.average >= 5 %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                {% elif 0 <= product.average <= 4 %}
                                                    <i class="fa fa-star{% if product.average < 1 %}-o empty{% endif %}"></i>
                                                    <i class="fa fa-star{% if product.average < 2 %}-o empty{% endif %}"></i>
                                                    <i class="fa fa-star{% if product.average < 3 %}-o empty{% endif %}"></i>
                                                    <i class="fa fa-star{% if product.average < 4 %}-o empty{% endif %}"></i>
                                                {% endif %}
                                            </div>
                                            <!-- End .product-container -->


                                            {% include 'home/price_box.html' %}
                                            <!-- End .price-box -->

                                            {% if request.user.is_authenticated %}
                                                {% if is_favourite %}
                                                    <div class="product-action">
                                                        <a href="{% url 'home:favourite' product.slug product.id %}" class="bg-danger text-white" title="wishlist"><i class="icon-wishlist-2"></i></a>
                                                        <a href="{{product.get_absolute_url}}" class="btn-icon btn-add-cart"><i class="fa fa-arrow-right"></i><span>جزئیات کالا</span></a>
                                                        <a href="{% url 'cart:compare' product.id %}" ></a>
                                                    </div>
                                                {% else %}
                                                    <div class="product-action">
                                                        <a href="{% url 'home:favourite' product.slug product.id %}" class="bg-white text-danger" title="wishlist"><i class="icon-wishlist-2"></i></a>
                                                        <a href="{{product.get_absolute_url}}" class="btn-icon btn-add-cart"><i class="fa fa-arrow-right text-danger"></i><span>جزئیات کالا</span></a>
                                                        <a style="font-size:15px;" href="{% url 'cart:compare' product.id %}">&rarr;</a>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                           
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                </div>
                                <!-- End .col-sm-4 -->    
                            {% endfor %}
                        </div>
                        <!-- End .row -->
                        {% if products.has_other_pages %}
                            <nav class="toolbox toolbox-pagination">
                                <ul class="pagination toolbox-item">
                                                  
                                    <li class="page-item">
                                        <a class="page-link page-link-btn" title="First page" href="?page=1">اولین صفحه</a>
                                    </li>
    
                                    {% if products.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link page-link-btn" title="Previous" href="{% filter_url products.previous_page_number 'page' request.GET.urlencode %}"><i class="icon-angle-left"></i></a>
                                        </li>
                                    {% endif %}

                                    {% if products.number|add:'-2' > 1 %}
                                        <li class="page-item"><a class="page-link page-link-btn" href="">&hellip;</a></li>
                                    {% endif %}

                                    {% for i in products.paginator.page_range %}
                                        {% if products.number == i %}   
                                            <li class="page-item {% if page_num == i %} active {% endif %}"><a class="page-link page-link-btn" href="{% filter_url products.number 'page' request.GET.urlencode %}">{{i}}</a></li>
                                        {% elif i > products.number|add:'-2' and i < products.number|add:'2' %}
                                            <li class="page-item"><a class="page-link page-link-btn" href="{% filter_url i 'page' request.GET.urlencode %}">{{i}}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if products.paginator.num_pages > products.number|add:'3' %}
                                        <li class="page-item"><a class="page-link page-link-btn" href="{% filter_url products.number 'page' request.GET.urlencode %}">&hellip;</a></li>
                                        
                                        <li class="page-item"><a class="page-link page-link-btn" href="{% filter_url products.paginator.num_pages 'page' request.GET.urlencode %}">{{ products.paginator.num_pages }}</a></li>
                                    {% endif %}

                                    {% if products.has_next %}                                        
                                        <li class="page-item">
                                            <a class="page-link page-link-btn" title="Next" href="{% filter_url products.next_page_number 'page' request.GET.urlencode %}"><i class="icon-angle-right"></i></a>
                                        </li>
                                    {% endif %}

                                    <li class="page-item">
                                        <a class="page-link page-link-btn" title="Last page" href="{% filter_url products.paginator.num_pages 'page' request.GET.urlencode %}">آخرین صفحه</a>
                                    </li>
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                    <!-- End .col-lg-9 -->

                    <!-- start filter -->
                    <div class="sidebar-overlay"></div>
                    <aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
                        {% include 'home/aside.html' %}
                    </aside>
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
            <div class="mb-4"></div>
            <!-- margin -->
        </main>
        <!-- End .main -->
{% endblock %}
