{% extends 'accounts/base_register.html' %}
{% block title %}
    تغییر گذرواژه
{% endblock %}
{% block name %}
    <h1 class="myfont">تغییر گذرواژه</h1>
{% endblock %}
{% block login %}

    <form action="" method="post" class="m-auto w-50 ">
        {% csrf_token %}
            <!-- Change password -->
            <div class="change-password mt-3">
                <div class="form-group">
                    <label for="acc-password" class="myfont float-right">رمز عبور فعلی</label>
                    <input type="password"  placeholder="رمز عبور فعلی" class="form-control myfont text-right" id="acc-password" name="old_password">
                </div>
        
                <div class="form-group">
                    <label for="acc-password" class="myfont float-right">رمز عبور جدید</label>
                    <input type="password" placeholder="رمز عبور جدید" class="form-control myfont text-right" id="acc-new-password" name="new_password1">
                </div>
                <div class="form-group">
                    <label for="acc-password" class="myfont float-right">تایید رمز عبور جدید</label>
                    <input type="password" placeholder="تایید رمز عبور جدید" class="form-control myfont text-right" id="acc-confirm-password" name="new_password2">
                </div>
            </div>
            <div class="form-footer mt-3 mb-0">
                <button type="submit" class="btn btn-dark mr-0 mb-3  myfont">
                    تغییر گذرواژه
                </button>
            </div>
    </form>

{% endblock %}
