{% extends 'accounts/base_register.html' %}

{% block login %}
<form action="" method="post" class="m-auto">
    {% csrf_token %}
        <!-- Change password -->
        <div class="change-password">
            <h3 class="text-uppercase mb-2">Password Change</h3>
            <div class="form-group">
                <label for="acc-password">Current Password (leave blank to leave
                    unchanged)</label>
                <input type="password"  placeholder="Old Password" class="form-control" id="acc-password" name="old_password">
            </div>
    
            <div class="form-group">
                <label for="acc-password">New Password (leave blank to leave
                    unchanged)</label>
                <input type="password" placeholder="New Password" class="form-control" id="acc-new-password" name="new_password1">
            </div>
            <div class="form-group">
                <label for="acc-password">Confirm New Password</label>
                <input type="password" placeholder="Confirm Password" class="form-control" id="acc-confirm-password" name="new_password2">
            </div>
        </div>
        <div class="form-footer mt-3 mb-0">
            <button type="submit" class="btn btn-dark mr-0 mb-3">
                Save changes
            </button>
        </div>
</form>

{% endblock %}
