{% extends '_base.html' %}

{% block title %}
    Wihslist
{% endblock %}
{% block body %}

    <main class="main">
        <div class="page-header">
            <div class="container d-flex flex-column align-items-center">
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="demo4.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Wishlist
                            </li>
                        </ol>
                    </div>
                </nav>

                <h1>Wishlist</h1>
            </div>
        </div>

        <div class="container">
           
            {% if product %}
                <div class="wishlist-title">
                    <h2 class="p-2">My wishlist on Porto Shop 4</h2>
                </div>
                <div class="wishlist-table-container">
                    <table class="table table-wishlist mb-0">
                        <thead>
                            <tr>
                                <th class="thumbnail-col">#</th>
                                
                                <th class="product-col">Image Product</th>
                                <th class="product-col">Product</th>
                                <th class="price-col">Price</th>
                                <th class="price-col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in product %}
                                <tr class="product-row">
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                        <figure class="product-image-container">
                                            <a href="{{i.get_absolute_url}}" class="product-image">
                                                <img src="{{i.image.url}}" style="min-height: 80px;min-width: 80px;max-width: 80px;max-height: 80px" alt="{{i.name}}">
                                            </a>
                                        </figure>
                                    </td>
                                    <td>
                                        <h5 class="product-title">
                                            <a href="{{i.get_absolute_url}}">{{i.name}}</a>
                                        </h5>
                                    </td>

                                    <td class="price-box">
                                        {{i.unit_price}}
                                    </td>

                                    <td class="price-box">
                                        <a href="{% url 'accounts:remove_favourite' i.id %}" class=" icon-cancel" title="Remove Product"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- End .cart-table-container -->
            {% else %}
                <div class="wishlist-title">
                    <h2 class="p-2">No Wishlist</h2>
                </div>
            {% endif %}
        </div><!-- End .container -->
    </main>
   
    <!-- End .main -->
{% endblock %}
