{% extends '_base.html' %}
{% load humanize %}
{% block title %}
    علاقه مندی ها
{% endblock %}
{% block body %}

    <main class="main">
        <div class="page-header">
            <div class="container d-flex flex-column align-items-center">
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}">خانه</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                لیست علاقه مندی ها
                            </li>
                        </ol>
                    </div>
                </nav>

                <h1 class="myfont text-right">لیست علاقه مندی ها</h1>
            </div>
        </div>

        <div class="container">
           
            {% if product %}
                <div class="wishlist-title">
                    <h2 class="p-2 text-right myfont my-3">علاقه مندی های در فروشگاه</h2>
                </div>
                <div class="wishlist-table-container">
                    <table class="table table-wishlist mb-0">
                        <thead>
                            <tr>
                                <th class="thumbnail-col">#</th>
                                
                                <th class="product-col">تصویر محصول</th>
                                <th class="product-col">نام محصول</th>
                                <th class="price-col">قیمت محصول</th>
                                <th class="price-col">حذف</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in product %}
                                <tr class="product-row">
                                    <td>{{ product.start_index|add:forloop.counter0 }}</td>
                                    <td>
                                        <figure class="product-image-container">
                                            <a href="{{i.get_absolute_url}}" class="product-image">
                                                <img src="{{i.image.url}}" style="min-height: 80px;min-width: 80px;max-width: 80px;max-height: 80px" alt="{{i.name}}">
                                            </a>
                                        </figure>
                                    </td>
                                    <td>
                                        <h5 class="product-title">
                                            <a href="{{i.get_absolute_url}}" class="myfont">{{i.name}}</a>
                                        </h5>
                                    </td>

                                    <td class="price-box">
                                        {{i.unit_price|floatformat:1|intcomma}}
                                    </td>

                                    <td class="price-box">
                                        <a href="{% url 'accounts:remove_favourite' i.id %}" class=" icon-cancel" title="Remove Product"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- End .cart-table-container -->

                {% if product.has_other_pages %}
                    <nav class="toolbox toolbox-pagination p-4 mx-3 ">
                        <ul class="pagination toolbox-item myfont">
                            {% if product.has_previous%}
                                <li class="page-item mx-4"><a href="{% url 'accounts:favourite' product.previous_page_number %}">قبلی</a></li>
                            {% endif %}     

                            {% if product.number|add:'-2' > 1 %}
                                <li class="page-item"><a class="pgn__num" href="">&hellip;</a></li>
                            {% endif %}

                            {% for i in product.paginator.page_range %}
                                {% if product.number == i %}
                                    <li class="page-item mx-3"><a href="{% url 'accounts:favourite' product.number %}">{{i}}</a></li>
                                {% elif i > product.number|add:'-2' and i < product.number|add:'2' %}
                                    <li class="page-item mx-3"><a href="{% url 'accounts:favourite' i %}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if product.paginator.num_pages > product.number|add:'2' %}
                                <li class="page-item"><a href="{% url 'accounts:favourite' product.number %}">&hellip;</a></li>
                        
                                <li class="page-item"><a href="{% url 'accounts:favourite' product.paginator.num_pages %}">{{ product.paginator.num_pages }}</a></li>
                            {% endif %}

                                

                            {% if product.has_next %}
                                <li class="page-item mx-4"><a href="{% url 'accounts:favourite' product.next_page_number %}">بعدی</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            {% else %}
                <div class="wishlist-title">
                    <h2 class="p-2 my-4 myfont text-right">محصولی به لیست علاقه مندی های شما اضافه نشده است</h2>
                </div>
            {% endif %}
        </div><!-- End .container -->
    </main>
   
    <!-- End .main -->
{% endblock %}
