

            
            {% extends '_base.html' %}

            {% block title %}
                تاریخچه سفارشات
            {% endblock %}
            {% block body %}
            
                <main class="main">
                    <div class="page-header">
                        <div class="container d-flex flex-column align-items-center">
                            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                                <div class="container">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">خانه</a></li>
                                        <li class="breadcrumb-item active myfont" aria-current="page">
                                            تاریخچه
                                        </li>
                                    </ol>
                                </div>
                            </nav>
            
                            <h1 class="myfont">تاریخچه سفارشات</h1>
                        </div>
                    </div>
            
                    <div class="container">
               

                        {% if data %}
                            <div class="wishlist-title">
                                <h2 class="p-2 myfont text-right">لیست تاریخچه سفارشات</h2>
                            </div>
                            <div class="wishlist-table-container">
                                <table class="table table-order text-left">
                                    <thead>
                                        <tr>
                                            <th class="order-id">#</th>
                                            <th class="order-date">نام محصول</th>
                                            <th class="order-price">تصویر محصول</th>
                                            <th class="order-price">تعداد سفارش محصول</th>
                                            <th class="order-price">قیمت محصول</th>
                                            <th class="order-price">آدرس</th>
                                            <th class="order-status">پرداخت شده</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in data %}
                                            <tr>
                                                <td>{{ data.start_index|add:forloop.counter0 }}</td>
                                                <td>
                                                    {{i.variant.name}}
                                                </td>
                                                <td>
                                                    <img src="{{i.variant.product_variant.image.url}}" alt="{{i.variant.name}}"
                                                    style="min-height: 80px;min-width: 80px;max-width: 80px;max-height: 80px">
                                                </td>
                                                <td>{{i.quantity}}</td>
                                                <td>{{i.order.get_price}}</td>
                                                <td>{{i.order.address}}</td>
                                                <td>
                                                    {% if i.order.paid %}
                                                        <p>yes</p>
                                                    {% else %}
                                                        <p>no</p>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                </table>
                            </div><!-- End .cart-table-container -->
                            {% if data.has_other_pages %}
                                <nav class="toolbox toolbox-pagination p-4 mx-3 ">
                                    <ul class="pagination toolbox-item myfont">
                                        {% if data.has_previous%}
                                            <li class="page-item mx-4"><a href="{% url 'accounts:history' data.previous_page_number %}">قبلی</a></li>
                                        {% endif %}     

                                        {% if data.number|add:'-2' > 1 %}
                                            <li class="page-item"><a class="pgn__num" href="">&hellip;</a></li>
                                        {% endif %}

                                        {% for i in data.paginator.page_range %}
                                            {% if data.number == i %}
                                                <li class="page-item mx-3"><a href="{% url 'accounts:history' data.number %}">{{i}}</a></li>
                                            {% elif i > data.number|add:'-2' and i < data.number|add:'2' %}
                                                <li class="page-item mx-3"><a href="{% url 'accounts:history' i %}">{{i}}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if data.paginator.num_pages > data.number|add:'2' %}
                                            <li class="page-item"><a href="{% url 'accounts:history' data.number %}">&hellip;</a></li>
                                    
                                            <li class="page-item"><a href="{% url 'accounts:history' data.paginator.num_pages %}">{{ data.paginator.num_pages }}</a></li>
                                        {% endif %}
            
                                            
    
                                        {% if data.has_next %}
                                            <li class="page-item mx-4"><a href="{% url 'accounts:history' data.next_page_number %}">بعدی</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        {% else %}
                            <div class="wishlist-title">
                                <h2 class="px-3 myfont my-5">شما هیچ تاریخچه سفارشی ندارید</h2>
                            </div>
                        {% endif %}
                  
                    </div><!-- End .container -->
                </main>
                <!-- End .main -->
            {% endblock %}
            