{% extends 'accounts/base_register.html' %}

{% block title %}
   Login with phone 
{% endblock %}

{% block login %}
    <div class="col-md-6">
        <div class="heading mb-1">
            <h2 class="title">Login</h2>
        </div>
        <form action="" method="post" novalidate>
                {% csrf_token %}
                <label for="login-email">
                    phone
                    <span class="required">*</span>
                </label>
                <input type="number" class="form-input form-wide" id="login-email" name="phone" required placeholder="plz Phone">

                <button type="submit" class="btn btn-dark btn-md mt-3 w-100">
                    Send code
                </button>
        </form>
    </div>
{% endblock %}
