{% extends 'accounts/dashboard.html' %}
{% load widget_tweaks %}
{% block profile %}		

    <img src="{{profile.profile_image.url}}" width="100px" height="100px" alt="{{profile.first_name}}" class="">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="acc-name" class="float-right myfont">نام خانوادگی<span class="required">*</span></label>
                {{user_form.last_name|add_class:'form-control myfont text-right'}}	
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="acc-lastname" class="float-right myfont">نام  <span class="required">*</span></label>
                {{user_form.first_name|add_class:'form-control myfont text-right'}}	
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="acc-lastname" class="float-right myfont">شماره تلفن <span class="required">*</span></label>
                {{profile_form.phone|add_class:'form-control myfont text-right'}}	
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="acc-lastname" class="float-right myfont">ایمیل<span class="required">*</span></label>
                {{user_form.email|add_class:'form-control myfont text-right'}}	
            </div>
        </div>
    </div>


    <div class="form-group mb-2">
        <label for="acc-text" class="float-right myfont">آدرس <span class="required">*</span></label>
        {{profile_form.address|add_class:'form-control myfont text-right'}}	
    </div>


{% endblock %}
