{% extends 'accounts/base_register.html' %}
{% load widget_tweaks %}
{% block title %}
   ثبت نام در فروشگاه
{% endblock %}
{% block name %}
    <h1 class="myfont">ثبت نام</h1>
{% endblock %}
{% block register %}

    <div class="col-md-6">
        <div class="heading mb-1">
            <h2 class="title text-center myfont">ثبت نام</h2>
        </div>
        
        <!-- Register form -->
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <label for="register-email" class="float-right myfont">
                نام کاربری
                <span class="required">*</span>
            </label>
            {{form.user_name|add_class:'form-input form-wide text-right'}}
            {% if form.user_name.errors %}
                    {% for error in form.user_name.errors %}
                        <p class="text-right text-danger">{{error}}</p>
                    {% endfor %}
            {% endif %}

            <label for="register-email" class="float-right myfont">
                ایمیل
                <span class="required">*</span>
            </label>
            {{form.email|add_class:'form-input form-wide text-right'}}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <p class="text-right text-danger">{{error}}</p>
                {% endfor %}
            {% endif %}
            <label for="register-email" class="float-right myfont">
                نام
                <span class="required">*</span>
            </label>
            {{form.first_name|add_class:'form-input form-wide text-right'}}
            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <p class="text-right text-danger">{{error}}</p>
                {% endfor %}
            {% endif %}

            <label for="register-email" class="float-right myfont">
                نام خانوادگی
                <span class="required">*</span>
            </label>
            {{form.last_name|add_class:'form-input form-wide text-right'}}
            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <p class="text-right text-danger">{{error}}</p>
                {% endfor %}
            {% endif %}

            <label for="register-email" class="float-right myfont">
                رمز عبور
                <span class="required">*</span>
            </label>
            {{form.password_1|add_class:'form-input form-wide text-right'}}
            {% if form.password_1.errors %}
                {% for error in form.password_1.errors %}
                    <p class="text-right text-danger">{{error}}</p>
                {% endfor %}
            {% endif %}

            <div class="text-right" id="message">رمز شما <span id="strength"></span></div>

            <label for="register-email" class="float-right myfont">
                    تایید رمز عبور
                <span class="required">*</span>
            </label>
            {{form.password_2|add_class:'form-input form-wide text-right'}}
            {% if form.password_2.errors %}
                {% for error in form.password_2.errors %}
                    <p class="text-right text-danger">{{error}}</p>
                {% endfor %}
            {% endif %}
            <div class="my-3">
                {{form.captcha}}
            </div>
            {% if form.captcha.errors %}
                {% for error in form.captcha.errors %}
                    <p class="text-right text-danger">{{error}}</p>
                {% endfor %}
            {% endif %}
            <div class="form-footer mb-2">
                <button type="submit" class="btn btn-dark myfont btn-md w-100 mr-0">
                    ثبت نام
                </button>
            </div>
        </form>
        <!-- end Register form -->
    </div>


{% endblock %}

{% block pass_strength %}
        

	<script>
		var password = document.getElementById('password');
		var msg = document.getElementById('message');
		var str = document.getElementById('strength');


		password.addEventListener('input', () => {
			if(password.value.length > 0){
				msg.style.display = 'block';
			}
			else{
				msg.style.display = 'none';
			}
			if (password.value.length < 4 ){
				str.innerHTML = 'ضعیف';
				password.style.borderColor = '#ff5925';
				msg.style.color = '#ff5925';
			}
			else if(password.value.length >= 6 && password.value.length <= 8){
				str.innerHTML = 'متوسط';
				password.style.borderColor = '#d37000';
				msg.style.color = '#d37000';
			}
			else if(password.value.length >= 8){
				str.innerHTML = 'قوی است';
				password.style.borderColor = '#26d730';
				msg.style.color = '#26d730';
			}
		})
	</script>        

{% endblock %}