

            
            {% extends '_base.html' %}
            {% load humanize %}
            {% block title %}
                بازدید های اخیر
            {% endblock %}
            {% block body %}
            
                <main class="main">
                    <div class="page-header">
                        <div class="container d-flex flex-column align-items-center">
                            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                                <div class="container">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">خانه</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            بازدید
                                        </li>
                                    </ol>
                                </div>
                            </nav>
            
                            <h1 class="myfont">بازدید</h1>
                        </div>
                    </div>
            
                    <div class="container">
                        <div class="wishlist-title">
                            <h2 class="p-2 text-right myfont">بازدید های اخیر در فروشگاه</h2>
                        </div>
                        {% if product %}
                            <div class="wishlist-table-container">
                                <table class="table table-order text-left">
                                    <thead>
                                        <tr>
                                            <th class="order-id">#</th>
                                            <th class="order-date">نام محصول</th>
                                            <th class="order-price">تصویر محصول</th>
                                            <th class="order-price">قیمت محصول</th>
                                            <th class="order-price">تخفیف محصول</th>
                                            <th class="order-status">برند</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in product %}
                                            <tr>
                                                <td>{{ product.start_index|add:forloop.counter0 }}</td>
                                                <td>
                                                    <a href="{{i.product.get_absolute_url}}">
                                                        {{i.product.name}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{i.product.get_absolute_url}}">
                                                        <img src="{{i.product.image.url}}" alt="{{i.name}}"
                                                    style="min-height: 80px;min-width: 80px;max-width: 80px;max-height: 80px">
                                                    </a>
                                                </td>
                                                <td>{{i.product.total_price|floatformat:1|intcomma}}</td>
                                                <td>%{{i.product.discount}}</td>
                                                <td>{{i.product.brand}}</td>
                                                
                                            </tr>
                                        {% endfor %}
                                </table>
                            </div><!-- End .cart-table-container -->

                                {% if product.has_other_pages %}
                                <nav class="toolbox toolbox-pagination p-4 mx-3 ">
                                    <ul class="pagination toolbox-item myfont">
                                        {% if product.has_previous%}
                                            <li class="page-item mx-4"><a href="{% url 'accounts:product_view' product.previous_page_number %}">قبلی</a></li>
                                        {% endif %}     

                                        {% if product.number|add:'-2' > 1 %}
                                            <li class="page-item"><a class="pgn__num" href="">&hellip;</a></li>
                                        {% endif %}

                                        {% for i in product.paginator.page_range %}
                                            {% if product.number == i %}
                                                <li class="page-item mx-3"><a href="{% url 'accounts:product_view' product.number %}">{{i}}</a></li>
                                            {% elif i > product.number|add:'-2' and i < product.number|add:'2' %}
                                                <li class="page-item mx-3"><a href="{% url 'accounts:product_view' i %}">{{i}}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if product.paginator.num_pages > product.number|add:'2' %}
                                            <li class="page-item"><a href="{% url 'accounts:product_view' product.number %}">&hellip;</a></li>
                                    
                                            <li class="page-item"><a href="{% url 'accounts:product_view' product.paginator.num_pages %}">{{ product.paginator.num_pages }}</a></li>
                                        {% endif %}
            
                                            

                                        {% if product.has_next %}
                                            <li class="page-item mx-4"><a href="{% url 'accounts:product_view' product.next_page_number %}">بعدی</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}

                        {% endif %}
                      
                    </div><!-- End .container -->
                </main>
                <!-- End .main -->
            {% endblock %}
            