<div class="megamenu megamenu-fixed-width">
    <div class="row">
        <div class="col-lg-4">
            <ul class="submenu">
                {% for cat in category %}
                    <li><a href="{{cat.get_absolute_url}}">{{cat.name}}</a></li>
                        <ul class="submenu">
                            {% for info in cat.sub.all %}  
                                <li style="padding:0 0 0 28px">        
                                    <a href="{{info.get_absolute_url}}">{{info.name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                {% endfor %}
            </ul>
        </div>         
    </div>
</div>
