{% extends '_base.html' %}
{% load static %}
{% load ratings %}
{% load base_blog %}

{% block title %}
وبلاگ  | {{article.title}}
{% endblock %}

{% block body %}

		<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">مقالات وبلاگ</li>
					</ol>
				</div><!-- End .container -->
			</nav>

			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<article class="post single">
							<div class="post-media">
								<img src="{{article.thumbnail.url}}" style='max-height: 300px' alt="{{article.title}}">
							</div><!-- End .post-media -->

							<div class="post-body">
								<div class="post-date" style="padding-right: 80px;">
									<span class="day text-align-center">{{article.jpublish}}</span>
								</div><!-- End .post-date -->

								<h2 class="post-title text-right myfont">{{article.title}}</h2>
								<a href="">
									{% for cat in article.category.active %}
										{% if cat.children.active %}
											<a href="{% url 'blog:category' cat.slug %}" class="float-right">{{cat.title}} #</a>
										{% endif %}
									{% endfor %}
								</a>

								
								<div class="post-meta mb-5 px-5">
									{% ratings article %}
								</div><!-- End .post-meta -->
								
								<div class="post-meta">
									<a href="#" class="hash-scroll">0 نظر</a>
								</div><!-- End .post-meta -->
								
								<div class="post-content">
									<p>{{article.description|safe|linebreaks}}</p>

								</div><!-- End .post-content -->

								<div class="post-author">
									<h3 class="myfont "><i class="far fa-user"></i>نویسنده</h3>

									<figure>
										<a href="{% url 'blog:author' article.author  %}">
											<img src="{% static 'assets/images/blog/author.jpg' %}" alt="{{article.author.username}}">
										</a>
									</figure>

									<div class="author-content">
										<h4 class="myfont"><a href="{% url 'blog:author' article.author  %}">{{article.author.profile.first_name}} {{article.author.profile.last_name}}</a></h4>
									</div><!-- End .author.content -->
								</div><!-- End .post-author -->

								<div class="comment-respond">
									<h3>Leave a Reply</h3>

									<form action="#">
										<p>Your email address will not be published. Required fields are marked *</p>

										<div class="form-group">
											<label>Comment</label>
											<textarea cols="30" rows="1" class="form-control" required=""></textarea>
										</div><!-- End .form-group -->

										<div class="form-group">
											<label>Name</label>
											<input type="text" class="form-control" required="">
										</div><!-- End .form-group -->

										<div class="form-group">
											<label>Email</label>
											<input type="email" class="form-control" required="">
										</div><!-- End .form-group -->



										<div class="form-footer my-0">
											<button type="submit" class="btn btn-sm btn-primary">نظر مقالات</button>
										</div><!-- End .form-footer -->
									</form>
								</div><!-- End .comment-respond -->
							</div><!-- End .post-body -->
						</article><!-- End .post -->

						<hr class="mt-2 mb-1">

						<div class="related-posts">
							<h4 class="myfont">مقالات <strong> مرتبط</strong></h4>

							<div class="owl-carousel owl-theme related-posts-carousel" data-owl-options="{
								'dots': false
							}">
							{% for tag in similar %}		
								<article class="post">
									<div class="post-media zoom-effect">
										<a href="{% url 'blog:detail' tag.slug %}">
											<img style="max-width: 300px;" src="{{tag.thumbnail.url}}" alt="{{tag.title}}">
										</a>
									</div><!-- End .post-media -->

									<div class="post-body">
										<div class="post-date">
											<span class="day"></span>
											<span class="month">Jun</span>
										</div><!-- End .post-date -->

										<h2 class="post-title">
											<a href="{% url 'blog:detail' tag.slug %}">{{tag.title}}</a>
										</h2>

										<div class="post-content">
											<p>{{tag.description|safe|linebreaks|truncatewords:15}}</p>

											<a href="{% url 'blog:detail' tag.slug %}" class="read-more myfont">خواندن بیشتر <i class="fas fa-angle-right"></i></a>
										</div><!-- End .post-content -->
									</div><!-- End .post-body -->
								</article>
								{% endfor %}

							
							</div><!-- End .owl-carousel -->
						</div><!-- End .related-posts -->
					</div><!-- End .col-lg-9 -->

					<div class="sidebar-toggle custom-sidebar-toggle">
						<i class="fas fa-sliders-h"></i>
					</div>

					<div class="sidebar-overlay"></div>
					<aside class="sidebar mobile-sidebar col-lg-3 d-lg-block d-none">
						<div class="sidebar-wrapper" data-sticky-sidebar-options='{"offsetTop": 72}'>
							<div class="widget widget-categories">
								<h4 class="widget-title myfont text-right">دسته بندی وبلاگ</h4>

								<ul class="list">
									<li>{% category_side %}</li>
								</ul>
							</div><!-- End .widget -->

							<div class="widget">
								<h4 class="widget-title text-right myfont">مقالات مرتبط</h4>

								<ul class="simple-post-list">
									{% for tag in similar %}		
										<li>
											<div class="post-media">
												<a href="{% url 'blog:detail' tag.slug %}">
													<img src="{{tag.thumbnail.url}}" alt="{{tag.title}}" style="max-width:392px;max-height:290px;">
												</a>
											</div><!-- End .post-media -->
											<div class="post-info text-right">
												<a href="{% url 'blog:detail' tag.slug %}">{{tag.title}}</a>
												<div class="post-meta">
												  {{tag.jpublish}}
												</div><!-- End .post-meta -->
											</div><!-- End .post-info -->
										</li>
									{% endfor %}
								</ul>
							</div><!-- End .widget -->

							<div class="widget">
								<h4 class="widget-title text-right myfont">تگ</h4>

								<div class="tagcloud">
									{% for t in tag %}
										<a href="#">{{t}}</a>
									{% endfor %}
								</div><!-- End .tagcloud -->
							</div><!-- End .widget -->
						</div><!-- End .sidebar-wrapper -->
					</aside><!-- End .col-lg-3 -->
				</div><!-- End .row -->
			</div><!-- End .container -->
		</main><!-- End .main -->

{% endblock %}