<div class="dropdown cart-dropdown">
    <a href="#" title="Cart" class="dropdown-toggle dropdown-arrow cart-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
        <i class="minicart-icon"></i>
        <span class="cart-count badge-circle">
                {{cart.count}}
        </span>
    </a>

    <div class="cart-overlay"></div>

    <div class="dropdown-menu mobile-cart">
        <a href="#" title="Close (Esc)" class="btn-close">×</a>

        <div class="dropdownmenu-wrapper custom-scrollbar">
            <div class="dropdown-cart-header">Shopping Cart</div>
            <!-- End .dropdown-cart-header -->

            <div class="dropdown-cart-products">
                <!-- start product -->
                {% for c in cart %}
                    <div class="product">
                        <div class="product-details">
                            <h4 class="product-title">
                                <a href="{% url 'home:detail' c.product.slug c.product.id %}">{{c.product.name}}</a>
                            </h4>

                            <span class="cart-product-info">
                                <span class="cart-product-qty">{{c.quantity}}</span> ×
                                {% if c.product.status != "None" %}
                                    {{c.variant.total_price}}
                                {% else %}
                                    {{c.product.total_price}}
                                {% endif %}
                            </span>
                        </div>
                        <!-- End .product-details -->

                        <figure class="product-image-container">
                            <a href="{% url 'home:detail' c.product.slug c.product.id %}" class="product-image">
                                <img src="{{c.product.image.url}}" alt="{{c.product.name}}" 
                                style="max-width:80px;min-width:80px;max-height: 80px;min-height:80px;">
                            </a>

                            <a href="{% url 'cart:remove_cart' c.id %}" class="btn-remove" title="Remove Product"><span>×</span></a>
                        </figure>
                    </div>
                {% endfor %}
                <!-- End .product -->                      
            </div>
            <!-- End .cart-product -->

            <div class="dropdown-cart-total">
                <span>TOTAL:</span>

                <span class="cart-total-price float-right">{{total}}</span>
            </div>
            <!-- End .dropdown-cart-total -->

            <div class="dropdown-cart-action">
                <a href="{% url 'cart:cart_detail' %}" class="btn btn-gray btn-block view-cart">View
                    Cart</a>
            </div>
            <!-- End .dropdown-cart-total -->
        </div>
        <!-- End .dropdownmenu-wrapper -->
    </div>
    <!-- End .dropdown-menu -->
</div>
<!-- End .dropdown -->
