{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- Copied from https://portotheme.com/html/porto_ecommerce/demo4.html by Cyotek WebCopy 1.7.0.600, Friday, November 11, 2022, 8:44:32 PM -->

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block style %} {% endblock %}

    <title>{% block title %} {% endblock %}</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template" />
    <meta name="author" content="SW-THEMES" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/images/icons/favicon.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/vendor/fontawesome-free/css/filters.css' %}"
    />
    {% block boot %} {% endblock %}
    {% block src_chart %}
    
    {% endblock %}
    

    <script>
      WebFontConfig = {
        google: {
          families: [
            "Open+Sans:300,400,600,700,800",
            "Poppins:300,400,500,600,700,800",
            "Oswald:300,400,500,600,700,800",
          ],
        },
      };
      (function (d) {
        var wf = d.createElement("script"),
          s = d.scripts[0];
        wf.src = "{% static 'assets/js/webfont.js' %}";
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />

    {% block css_filter %} {% endblock %}
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/demo4.min.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}"
    />
  </head>

  <body>
    <div class="page-wrapper">
      {% include 'message.html' %} {% include 'navbar.html' %} {% block body %}
      {% endblock %} {% include 'footer.html' %}
    </div>
    <!-- End .page-wrapper -->

    <div class="loading-overlay">
      <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>

    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
        <nav class="mobile-nav">
          <ul class="mobile-menu">
            <li><a href="{% url 'home:home' %}">Home</a></li>
            <li>
              <a href="category.html">Categories</a>
              <ul>
                {% for cat in category %}
                <li><a href="{{cat.get_absolute_url}}">{{cat.name}}</a></li>
                {% for info in cat.sub.all %}
                <ul>
                  <li>
                    <a href="{{info.get_absolute_url}}">{{info.name}}</a>
                  </li>
                </ul>
                {% endfor %} {% endfor %}
              </ul>
            </li>
            <li>
              <a href="{% url 'home:products' %}">Products</a>
            </li>
            <li>
              <a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
              <ul>
                <li>
                  <a href="{% url 'accounts:favourite' %}">Wishlist</a>
                </li>
                <li>
                  <a href="{% url 'cart:cart_detail' %}">Shopping Cart</a>
                </li>
                <li>
                  <a href="checkout.html">Checkout</a>
                </li>
                <li>
                  <a href="{% url 'accounts:profile' %}">Dashboard</a>
                </li>
                <li>
                  <a href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li>
                  <a href="{% url 'accounts:reset' %}">Forgot Password</a>
                </li>
              </ul>
            </li>
            <li><a href="blog.html">Blog</a></li>
          </ul>

          <ul class="mobile-menu">
            <li><a href="{% url 'accounts:profile' %}">My Account</a></li>
            <li><a href="{% url 'home:contact' %}">Contact Us</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="{% url 'accounts:favourite' %}">My Wishlist</a></li>
            <li><a href="{% url 'cart:cart_detail' %}">Cart</a></li>
            <li><a href="{% url 'accounts:login' %}" class="">Log In</a></li>
          </ul>
        </nav>
        <!-- End .mobile-nav -->

        <form
          class="search-wrapper mb-2"
          action="{% url 'home:product_search' %}"
          method="post"
        >
          {% csrf_token %}
          <input
            type="text"
            name="search"
            class="form-control mb-0"
            placeholder="Search..."
            required=""
          />
          <button
            class="btn icon-search text-white bg-transparent p-0"
            type="submit"
          ></button>
        </form>

        <div class="social-icons">
          <a
            href="#"
            class="social-icon social-facebook icon-facebook"
            target="_blank"
          >
          </a>
          <a
            href="#"
            class="social-icon social-twitter icon-twitter"
            target="_blank"
          >
          </a>
          <a
            href="#"
            class="social-icon social-instagram icon-instagram"
            target="_blank"
          >
          </a>
        </div>
      </div>
      <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <div class="sticky-navbar">
      <div class="sticky-info">
        <a href="{% url 'home:home' %}"> <i class="icon-home"></i>Home </a>
      </div>
      <div class="sticky-info">
        <a href="{% url 'home:products' %}" class="Products">
          <i class="icon-bars"></i>Products
        </a>
      </div>
      <div class="sticky-info">
        <a href="{% url 'accounts:favourite' %}" class="">
          <i class="icon-wishlist-2"></i>Wishlist
        </a>
      </div>
      <div class="sticky-info">
        <a href="{% url 'accounts:login' %}" class="Login">
          <i class="icon-user-2"></i>Account
        </a>
      </div>
      <div class="sticky-info">
        <a href="{% url 'cart:cart_detail' %}" class="cart">
          <i class="icon-shopping-cart position-relative">
            <span class="cart-count badge-circle">{{cart.count}}</span> </i
          >Cart
        </a>
      </div>
    </div>

    <a id="scroll-top" href="#top" title="Top" role="button"
      ><i class="icon-angle-up"></i
    ></a>

    <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/optional/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.min.js' %}"></script>
    <script src="{% static 'assets/js/main.min.js' %}"></script>
   
    <script>
      setTimeout(function () {
        $("#mydiv").fadeOut("fast");
      }, 5000); //
    </script>
    <!-- Main JS File -->
    <script>
      var rangeOne = document.querySelector('input[name="price_1"]'),
        rangeTwo = document.querySelector('input[name="price_2"]'),
        outputOne = document.querySelector(".outputOne"),
        outputTwo = document.querySelector(".outputTwo"),
        inclRange = document.querySelector(".incl-range"),
        updateView = function () {
          if (this.getAttribute("name") === "price_1") {
            outputOne.innerHTML = this.value;
            outputOne.style.left =
              (this.value / this.getAttribute("max")) * 100 + "%";
          } else {
            outputTwo.style.left =
              (this.value / this.getAttribute("max")) * 100 + "%";
            outputTwo.innerHTML = this.value;
          }
          if (parseInt(rangeOne.value) > parseInt(rangeTwo.value)) {
            inclRange.style.width =
              ((rangeOne.value - rangeTwo.value) / this.getAttribute("max")) *
                100 +
              "%";
            inclRange.style.left =
              (rangeTwo.value / this.getAttribute("max")) * 100 + "%";
          } else {
            inclRange.style.width =
              ((rangeTwo.value - rangeOne.value) / this.getAttribute("max")) *
                100 +
              "%";
            inclRange.style.left =
              (rangeOne.value / this.getAttribute("max")) * 100 + "%";
          }
        };

      document.addEventListener("DOMContentLoaded", function () {
        updateView.call(rangeOne);
        updateView.call(rangeTwo);
        $('input[type="range"]')
          .on("mouseup", function () {
            this.blur();
          })
          .on("mousedown input", function () {
            updateView.call(this);
          });
      });
    </script>


    {% block script %}{% endblock %}
    {% block script_fav %}{% endblock %}
  </body>

  <!-- Copied from https://portotheme.com/html/porto_ecommerce/demo4.html by Cyotek WebCopy 1.7.0.600, Friday, November 11, 2022, 8:44:32 PM -->
</html>
