{% load static %}
{% load base_tags %}
{% load base_cart %}

<header class="header">
    
    <div class="header-top">
        <div class="container">
            <div class="header-left d-none d-sm-block">
                <p class="top-message text-uppercase">FREE Returns. Standard Shipping Orders $99+</p>
            </div>
            <!-- End .header-left -->

            <div class="header-right header-dropdowns ml-0 ml-sm-auto w-sm-100">
                <div class="header-dropdown dropdown-expanded d-none d-lg-block">
                    <a href="#">Links</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="{% url 'accounts:profile' %}">My Account</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="wishlist.html">My Wishlist</a></li>
                            <li><a href="{% url 'cart:cart_detail' %}">Cart</a></li>
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
                            {% else %}
                                <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                                <li><a href="{% url 'accounts:register' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- End .header-menu -->
                </div>
                <!-- End .header-dropown -->

                <span class="separator"></span>

                <div class="social-icons">
                    <a href="#" class="social-icon social-facebook icon-facebook" title="facebook" target="_blank"></a>
                    <a href="#" class="social-icon social-twitter icon-twitter" title="twitter" target="_blank"></a>
                    <a href="#" class="social-icon social-instagram icon-instagram" title="instagram" target="_blank"></a>
                </div>
                <!-- End .social-icons -->
            </div>
            <!-- End .header-right -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .header-top -->

    <div class="header-middle sticky-header" data-sticky-options="{'mobile': true}">
        <div class="container">
            <div class="header-left col-lg-2 w-auto pl-0">
                <button class="mobile-menu-toggler text-primary mr-2" type="button">
                    <i class="fas fa-bars"></i>
                </button>
                <a href="{% url 'home:home' %}" class="logo">
                    <img src="{% static 'assets/images/logo.png' %}" width="111" height="44" alt="Porto Logo">
                </a>
            </div>
            <!-- End .header-left -->

            <div class="header-right w-lg-max">
                <div class="header-icon header-search header-search-inline header-search-category w-lg-max text-right mt-0">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
                    <!-- start Search form -->
                    {% if request.method == "POST" %}
                        
       
                        <form action="{% url 'home:product_search' %}" method="post">{% csrf_token %}
                            <div class="header-search-wrapper">
                                <input type="search"oninvalid="setCustomValidity('pleaze complete search')"class="form-control" name="search" id="q" placeholder="Search..." required="">
                                <button class="btn icon-magnifier p-0" title="search" type="submit"></button>
                            </div>
                            <!-- End .header-search-wrapper -->
                        </form>
                    {% else %}
                        <form action="{% url 'home:products' %}">{% csrf_token %}
                            <div class="header-search-wrapper">
                                <input type="search"oninvalid="setCustomValidity('pleaze complete search')"class="form-control" name="search" id="q" placeholder="Search..." required="">
                                <button class="btn icon-magnifier p-0" title="search" type="submit"></button>
                            </div>
                            <!-- End .header-search-wrapper -->
                        </form>
                    {% endif %}
                    <!-- end Search form -->
                </div>
                <!-- End .header-search -->

                <div class="header-contact d-none d-lg-flex pl-4 pr-4">
                    <img alt="phone" src="{% static 'assets/images/phone.png' %}" width="30" height="30" class="pb-1">
                    <h6><span>Call us now</span><a href="tel:+989371595811" class="text-dark font1">+98 937 159 5811</a></h6>
                </div>

                <a href="{% url 'accounts:login' %}" class="header-icon" title="login"><i class="icon-user-2"></i></a>

                <a href="wishlist.html" class="header-icon" title="wishlist"><i class="icon-wishlist-2"></i></a>

                <!-- Start .dropdown -->
                    {% cart %}
                <!-- End .dropdown -->
    
            </div>
            <!-- End .header-right -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .header-middle -->

    <div class="header-bottom sticky-header d-none d-lg-block" data-sticky-options="{'mobile': false}">
        <div class="container">
            <nav class="main-nav w-100">
                <ul class="menu">
                    <li class="active">
                        <a href="{% url 'home:home' %}">Home</a>
                    </li>
                    <li>
                        <a href="">Categories</a>
                            {% category_navbar %}
                        <!-- End .megamenu -->
                    </li>
                    <li>
                        <a href="{% url 'home:products' %}">Products</a>
          
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="{% url 'cart:cart_detail' %}">Shopping Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="{% url 'accounts:profile' %}">Dashboard</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="{% url 'accounts:login' %}">Login</a></li>
                            <li><a href="forgot-password.html">Forgot Password</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>

                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <!-- End .container -->
    </div>
    <!-- End .header-bottom -->
</header>
<!-- End .header -->
